{% extends 'user_auth/login.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block loginclass %}register{% endblock %}

{% block logincontainer %}
            <form role="form" method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <h4 class="form-signin-heading">Register</h4>
                {{ form|crispy }}
                <button class="btn btn-primary btn-block" type="submit"><span class="fa fa-fw fa-male"></span> Register</button>
            </form>
{% endblock %}
