
.container-fullwidth {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.vpos-parent{
    display: table;
    table-layout: fixed;
}

.vbottom-cell{
    display: table-cell;
    vertical-align: bottom;
    float: none;
}

.vmiddle-parent{
    @extend .vpos-parent;
}

.vmiddle-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.form-group .select2.select2-container {
    position: relative;
    width: 100% !important;
    display: table-cell;
}
.form-group .select2.select2-container span.selection .select2-selection--single{
    height: 100% !important;
}

.brand
{
  background: url($static_url + '/img/logo_small.png') no-repeat left center;
  background-size: 40px 37px;
  background-position: 0px 5px;
  padding-left: 40px;
  padding-right: 10px;
  margin-right: 20px;
  height: 44px;
  width: 140px;
}

td.leftcol {
    text-align: right;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 8px;
    font-weight: bold;
}
td.rightcol {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.xtooltip {
    cursor: pointer;
    padding-right: 10px;
}

table.text-center tr th {
    text-align: center;
}

.table-header-rotated th.row-header{
  width: auto;
}

.table-header-rotated th.rotate-45{
  height: 80px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  // font-size: 12px;
  line-height: 0.8;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  // width: 100%;
  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  // white-space: nowrap; /*whether to display in one line or not*/
}

.sortable {
    color: #333399;
    cursor: pointer;
}
.sortfield {
    text-decoration: underline;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

.vis-editable tr {
    cursor: pointer;
}

.scrollable {
    overflow: scroll;
}

.doc-status-success {
  color: #119911;
}

.doc-status-error {
  color: #991111;
}

.doc-status-error span {
  cursor: pointer;
}

.mfa-width-fix{
  width: 16px;
}
