{% extends "base.html" %}
{% load staticfiles %}

{% block maincontainer %}

<div class="loginpage site-wrapper">

      <div class="site-wrapper-inner">
        <div class="cover-container {% block loginclass %}login{% endblock %}">

          <div class="inner cover">
            <p class="lead"><a href="/">
                <img height="55" width="228" src="{% static 'img/logo-green.svg' %}" id="brandimg"/>
            </a></p>
            <h2 class="cover-heading">{{ my_company_name }}</h2>
            <p class="lead">
            {% block logincontainer %}
            <form class="form-signin" id="login_form" method="post" action="/login/">
            {% csrf_token %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ nextpage }}">
              <h4 class="form-signin-heading">Please sign in</h4>

                {% if error %}
                    <div class="alert alert-danger fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                        <span class="fa fa-exclamation-circle"></span> {{ error }}
                    </div>
                {% endif %}

              <label for="inputEmail" class="sr-only">username</label>
              <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-fw fa-user"></span></span>
                <input class="form-control" name="username" placeholder="User Name"  required autofocus>
              </div>
              <label for="inputPassword" class="sr-only">Password</label>
              <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-fw fa-key"></span></span>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
              </div>
              <br/>
              <button class="btn btn-primary btn-block signinbtn" type="submit"><span class="fa fa-fw fa-sign-in"></span> Sign in</button>
            </form>
            <br/>
            <div class="row">
                <div class="col-md-7">
                    <a href="{% url 'password_reset' %}" class="">Forgot password?</a>
                </div>
            </div>
          {% endblock %}
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Copyright {% now 'Y' %} © {{ my_company_name }}</p>
            </div>
          </div>

        </div>

      </div>

    </div>

{% endblock %}

{% block footer %}
{% endblock %}