{% extends 'user_auth/login.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block loginclass %}pwreset{% endblock %}

{% block logincontainer %}
            <p class="lead"><img src="{% static 'img/logo_small.png' %}" class="nav-img img-rounded" id="brandimg"></p>
            <h1 class="cover-heading">{{ my_company_name }}</h1>
            <p class="lead">
            {% if validlink %}
                <form role="form" method="post" action="?">
                    {% csrf_token %}
                    <h4 class="form-signin-heading">Reset Password</h4>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary btn-block"><span class="fa fa-fw fa-eraser"></span> Reset Password</button>
                </form>
            {% else %}
                <h4 class="form-signin-heading">Reset Password</h4>
                <div class="alert alert-danger fade in" role="alert">
                    <span class="fa fa-exclamation-circle"></span> This reset link is no longer valid!
                </div>
            {% endif %}
            </p>
{% endblock %}
