{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="pgmain" data-pgclass="pgmain">

<div class="row">
    <div class="col-md-4">
        <h1>{% block list_title %}List of Objects{% endblock %}</h1>
    </div>
    <div class="col-md-8 h3">
        {% block main_action_buttons %}
        {% block list_autorefresh_chk %}
        <label class="pull-right col-md-offset-1 h5"> Auto Refresh <input type="checkbox" class="toggle-chkbox" id="navautorefresh" data-size="mini" name="autorefresh"></label>{% endblock %}
        {% block list_reload_btn %}<button type="button" class="btn btn-default pull-right" id="navrefresh"><span class="fa fa-refresh"></span> Refresh</button>{% endblock %}
        {% endblock %}
    </div>
</div>

{% block list_filter %}
{% if filters %}
<h3>Filter</h3>
<div class="row vbottom-parent">
    <div class="col-md-1 text-center vbottom-cell">
        <button class="btn btn-warning filter-reset">Reset</button>
    </div>
    {% for fname, fld, fvals in filters %}
    <div class="col-md-2 text-center vbottom-cell">
        {{ fname.capitalize }}:<br/>
        <select class="list-filter select2" name="{{ fld }}">
            <option value="-">- All -</option>
            {% for vv in fvals %}
            <option value="{{ vv }}">{{ vv }}</option>
            {% endfor %}
        </select>
    </div>
    {% endfor %}
    <div class="col-md-3 text-center vbottom-cell">&nbsp;</div>
</div>
{% endif %}
{% endblock %}

<div class="row">
    <div class="col-md-12 pgmain paginated_content pagination-sortfield"
        data-pgclass="pgmain"
        data-sortfield="{% block sortfield %}{{ sortfield }}{% endblock %}"
        data-asc="1">
        {% block list_body_initial %}
        <img src="{% static 'img/progress_large.gif' %}">
        {% endblock %}        
    </div>
</div>

</div>
{% endblock %}
