{% load staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Hello, world!{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Alexey Kolyanov"/>

        <!-- <link rel="shortcut icon" href="/static/favicon.ico"> -->
        <link type="text/plain" rel="author" href="{% static 'humans.txt' %}" />
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

        {% block add_css %}{% endblock %}

        <link rel="stylesheet" href="{% static 'css/dependencies.min.css' %}">
        {% with 'css/themes/'|add:theme_name|add:'.min.css' as themecss %}
        <link rel="stylesheet" href="{% static themecss %}">
        {% endwith %}
        <link rel="stylesheet" href="{% static 'css/screen.css' %}">
    </head>
    <body>
        {% block maincontainer %}
        {% include 'partials/nav.html' %}
        <div class="container-fullwidth">
            {% block content %}{% endblock %}
            {% block datasource %}
            <div class="hidden assets" id="datasource" data-pagetype="unknown">
            </div>
            {% endblock %}
        </div>
        <div class="modal-element">
        </div>
        {% endblock %}

        {% block footer %}
        <footer>
            <div>
                <p>Copyright {% now 'Y' %} © {{ my_company_name }}</p>
            </div>
        </footer>
        {% endblock %}

        <script src="{% static 'js/dependencies.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
        {% block add_js %}{% endblock %}

    </body>
</html>
