{% load staticfiles %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Hello, world!{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Alexey Kolyanov"/>

        <!-- <link rel="shortcut icon" href="/static/favicon.ico"> -->
        <link type="text/plain" rel="author" href="{% static 'humans.txt' %}" />
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

        {% block add_css %}{% endblock %}

        <link rel="stylesheet" href="{% static 'css/dependencies.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/screen.css' %}">
    </head>
    <body>
        {% block maincontainer %}
        {% include 'partials/nav.html' %}
        <div class="container-fullwidth">
            {% block content %}{% endblock %}
        </div>
        <div class="modal-element">
        </div>
        {% endblock %}

        {% block footer %}
        <footer>
            <div>
                &nbsp;
            </div>
        </footer>
        {% endblock %}

        <script src="{% static 'js/dependencies.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
        {% block add_js %}{% endblock %}

        {% if debug %}
            <script type='text/javascript' id="__bs_script__">
                document.write("<script async src='//HOST:8001/browser-sync/browser-sync-client.2.1.1.js'><\/script>".replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
            </script>
        {% endif %}
    </body>
</html>
