PyYAML
gunicorn
requests
# redis
psycopg2
pillow
# uuid

django-appconf==1.0.2
django-admin-tools
django==1.11
django-suit
django-registration-redux==1.6
django-crispy-forms==1.6
django-imagekit==4.0
django-decorator-include
django_extensions
django-debug-toolbar
# git+https://github.com/djsutho/django-debug-toolbar-request-history
# django-storages==1.1.8
Werkzeug
ipython

# celery
